<div class="app">
  <div class="app__top">
      <h1>{{title}}</h1>
  </div>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Strona Główna</a>
    <a routerLink="/onas" routerLinkActive="active">O nas</a>
  </nav>
  <div class="app__body">
    <router-outlet></router-outlet>
  </div>
</div>