.app {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    margin-top: 50px;
    box-shadow: 2px 2px 5px #4d173d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.app__top {
    background-color: #c00032;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.app__top h1 {
    margin: 0;
    font-size: 2rem;
    color: #fff;
}

.app__body {
    padding: 20px;
}

.app nav {
    padding: 20px 20px 0 20px;
    text-align: left;
}

.app nav a {
    font-size: 1.6rem;
    text-decoration: none;
    margin: 0 10px;
    color: #c00032;
    font-weight: bold;
    padding-bottom: 5px;
    transition: border-bottom linear .2s;
    border-color: #ddd;
}

.app nav a:hover {
    border-bottom: 5px solid #ddd;
}

.app nav a.active {
    border-bottom: 5px solid #000;
}