ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

ul li {
    background-color: #ff4c2d;
    font-size: 1.6rem;
    line-height: 2;
    margin: 5px 0;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    transition: all .2s linear;
    width: 70%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

ul li.active {
    background-color: #4d173d;
    color: #fff;
    width: 73%;
}

ul li:hover {
    background-color: #4d173d;
    color: #fff;
    width: 73%;
}

ul li span.badge {
    background-color: #c00032;
    position: absolute;
    width: 30px;
    display: block;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    transition: all .2s linear;
}

ul li:hover span.badge {
    background-color: #000;
}

ul li.active span.badge {
    background-color: #000;
}