<div class="pracownik" *ngIf="pracownik">
    <p>ID: <strong>{{pracownik.id}}</strong></p>
    
    <p>Imię:</p>
    <input [(ngModel)]="pracownik.imie">

    <p>Nazwisko:</p>
    <input [(ngModel)]="pracownik.nazwisko">

    <p>Wiek:</p>
    <input [(ngModel)]="pracownik.wiek">

    <p>Stanowisko:</p>
    <input [(ngModel)]="pracownik.stanowisko">

    <p>Płeć:</p>
    <input [(ngModel)]="pracownik.plec">

    <button (click)="goBack()">Powrót</button>
</div>