.pracownik {
    background: #eee;
    padding: 20px;
    font-size: 1.5rem;
    line-height: 1.6;
    animation: bg 2s infinite;
}

.pracownik p {
    margin: 0 0 5px 0;
}

.pracownik input {
    width: 100%;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background: #eee;
    border: 1px solid #000;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all linear .2s;
}

button:hover {
    background-color: #000;
    color: #fff;
}